<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="/see_count" method="post">
            <input type="text" name="userinput1" placeholder="enter a sentence">
            <input type="text" name="userinput2" placeholder="enter a word to count">
            <button type="submit">See count!</button>
        </form>
    </body>
</html>
