<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <script src="/js/jquery-3.1.1.js"></script>
        <script src="/js/scripts.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1 id="jumbo-header">Repeat Word Counter</h1>
            </div>

            <div id="form-div">
                <form class="form-group" action="/see_count" method="post">
                    <input type="text" name="userinput1" placeholder="Enter a sentence">
                    <input type="text" name="userinput2" placeholder="Enter a word to count">
                    <button class="btn btn-lg" type="submit">See count!</button>
                </form>
            </div>
        </div>
    </body>
</html>
