/*general styles*/


body {
    background-image: url("/../img/counter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
}

.btn {
    background-color: #58A4B0;
    color: white;
}


/*root.html.twig styles*/

.jumbotron {
    background:rgba(255,255,255,0.5);
    height: 4%;
    width: 100%;
    text-align: center;
}
#jumbo-header {
    color: #373F51;
    font-size: 90px;
    letter-spacing: 7px;
}

#form-div {
    border-radius: 3px;
    background-color: #A9BCD0;
    background:rgba(255,255,255,0.5);
    margin-top: 7%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 5%;
    width: 600px;
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 22px;
}

input {
    border-radius: 3px;
    /*font-size: 16px;*/
}

/*see_count.html.twig styles*/
#results-div {
    border-radius: 3px;
    background-color: #A9BCD0;
    background:rgba(255,255,255,0.5);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 5%;
    padding: 2%;
    font-size: 22px;
}
